# Directories #
/build/classes/
/build/distributions/
/build/extracted-include-protos/
/build/extracted-protos/
/build/install/
/build/libs/
/build/reports/
/build/resources/
/build/test-results/
/bin/
target/
/.gradle/
 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
!gradle/**/*.jar
*.war
*.ear
*.db
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
bin/**
**/tmp/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath